<html !DOCTYPE = html>
<!--
                      Head Tag -->
  <head>

    <!-- Charset goes here -->

    <title>
    <!-- Page_Name Title Goes Here - OmieWalls.com -->
    </title>

       <!-- StyleSheet calling tag goes here.
    - TODO: Build an array function that cycles through available StyleSheets.
    -->
    <style></style>
  </head>

  <body>
       <!-- Each page's different header goes here.
    - TODO: Build variable funcition that loads the approrpiate header based
    - on page name parsed from the HTTP request.
    -->
    <header class="page_name_header">
    </header>

    <section>
         <!-- The sidebar navigation goes here.
      - TODO: The sidebar will have three modes for responsive design purposes:
      -     1. "desktop_mode"     - Permanently fixed sidebar navigation,
      -     2. "tablet_mode"      - Toggled sidebar navigation,
      -     3. "smartphone_mode"  - Shortened, toggled sidebar navigation.
      -->
      <nav class="sidenav" id="responsive_mode"></nav>

         <!-- Each page's different content goes here.
      - TODO: Build a variable function that will load the appropriate
      - page_container based on page name parsed from the HTTP request.
      -->
      <div class="page_container"></div>
    </section>
       <!-- Each page's different footer goes here.
    - TODO: Build a variable function that loads the appropriate footer based
    - on page name parsed from the HTTP request.
    -->
    <footer class="class_footer"></footer>

       <!-- Script calling tag goes here.
    - TODO: Build an array function that cycles through available scripts.
    -->
 <script></script>
  </body>
</html>
