<table id = "blog_table">
  <tr> <!-- Row 1 -->
    <!-- Blog title goes here. -->
    <td class = "blog_title" id = "tit_blog_id">
      <p>Blog Title Goes Here</p>
    </td>
  </tr>

  <tr> <!-- Row 2 -->
    <!-- Blog subtitle goes here. -->
    <td class = "blog_subtitle" id = "sub_blog_id">
      <p>This is The Subtitle</p>
    </td>
  </tr>

  <tr> <!-- Row 3 -->
    <!-- Blog author goes here. -->
    <td class = "blog_author" id = "auth_blog_id">
      <p>by Blog Author</p>
    </td>
    <!-- Blog date goes here. -->
    <td class = "blog_date" id = "dat_blog_id">
      <p>DD/MM/YYYY</p>
    </td>
    <!-- Blog tags go here. -->
    <td class = "blog_tags" id = "tag_blog_id">
      <p>PHP, SQL, HTML, CSS, XML</p>
    </td>
  </tr>
</table>
