<table>
  <tr>
    <p>Events I'm attending:</p>
    <td>
      <p> Event name</p>
      <p> Event location</p>
      <p> Event location 2</p>
      <p> Event website</p>
      <p> Event description</p>
    </td>
    <td>
      <p> Event name</p>
      <p> Event location</p>
      <p> Event location 2</p>
      <p> Event website</p>
      <p> Event description</p>
    </td>
    <td>
      <p> Event name</p>
      <p> Event location</p>
      <p> Event location 2</p>
      <p> Event website</p>
      <p> Event description</p>
    </td>
    <td>
      <p> Event name</p>
      <p> Event location</p>
      <p> Event location 2</p>
      <p> Event website</p>
      <p> Event description</p>
    </td>
    <td>
      <p> Event name</p>
      <p> Event location</p>
      <p> Event location 2</p>
      <p> Event website</p>
      <p> Event description</p>
    </td>
    <td>
      <p> Event name</p>
      <p> Event location</p>
      <p> Event location 2</p>
      <p> Event website</p>
      <p> Event description</p>
    </td>
  </tr>
</table>
