<!-- TODO: Copyright information goes here. -->
<div id = "copyright">
	<p>Copyright information - Details</p>
</div>
<!-- TODO: Master directory goes here. -->
<div id = "directory">
	<table>
		<tr>
			<td>
				<p>Link 1</p>
			</td>
			<td>
				<p>Link 4</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Link 2</p>
			</td>
			<td>
				<p>Link 5</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Link 3</p>
			</td>
			<td>
				<p>Link 6</p>
			</td>
		</tr>
	</table>
	</div>
