<!-- Meta Tags -->
<meta charset = "UTF-8">
<meta name = "viewport" content = "width=device-width">
<!-- Title Tag -->
<title>OmieWalls.com</title>
	<!-- Link Tags
-Initialize Font-->
<link rel = "stylesheet" href = "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type = "text/css">

<!--Initialize Stylesheets-->
<link rel = 'stylesheet' href = 'css/normalize.css' type = 'text/css'>
<link rel = 'stylesheet' href = 'css/foundation.css' type = 'text/css'>
<link rel = 'stylesheet' href = 'css/icons/foundation-icons.css' type = 'text/css'>
<link rel = 'stylesheet' href = 'css/structure.css' type = 'text/css'>
<link rel = 'stylesheet' href = 'css/structure.css' type = 'text/css'>
<link rel = 'stylesheet' href = 'css/text.css' type = 'text/css'>
<link rel = 'stylesheet' href = 'css/templates.css' type = 'text/css'>

<!--Initialize 'Modernizer' JavaScript-->
<script src="/js/vendor/modernizr.js"></script>
