<!-- The sidebar navigation goes here.
- TODO: The sidebar will have three modes for responsive design purposes:
-     1. "desktop_mode"     - Permanently fixed sidebar navigation,
-     2. "tablet_mode"      - Toggled sidebar navigation,
-     3. "smartphone_mode"  - Shortened, toggled sidebar navigation.
-->
<nav id= {% block mode %}"responsive_mode"{% endblock mode %}>
{% block sidenav %}
<!-- TODO: Sidenav goes here. -->
<p>Sidenav panel</p>
<!-- TODO: Blog directory goes here. -->
<!-- TODO: Calendar goes here. -->
<!-- TODO: Current events goes here. -->
<!-- TODO: Page links go here. -->
<!-- TODO: Social media links go here. -->
{% endblock sidenav %}
</nav>
